<configure
    xmlns="http://namespaces.zope.org/zope"
    xmlns:browser="http://namespaces.zope.org/browser"
    i18n_domain="%(package_name)s">

   <include package="z3c.jbot" file="meta.zcml" />

   <browser:jbot
   directory="jbot"
   layer=".browser.interfaces.IThemeSpecific" />

</configure>
