<configure
    xmlns="http://namespaces.zope.org/zope"
    xmlns:browser="http://namespaces.zope.org/browser"
    i18n_domain="%(package_name)s">

  <!-- '%(theme_name)s' Zope 3 browser layer
    Register views, viewlets and resources for this layer to make sure
    they only apply to the '%(theme_name)s' theme.
    You can also use this layer to override default Plone browser views
    and viewlets only within the '%(theme_name)s' theme.
  -->
  <interface
      interface=".interfaces.IThemeSpecific"
      type="zope.publisher.interfaces.browser.IBrowserSkinType"
      name="%(package_name)s"
      />
  
  <!-- Viewlets registration -->
  <!-- EXAMPLE (UNCOMMENT TO MAKE AVAILABLE):
  <browser:viewlet
      name="nicetosee.someviewlet"
      manager="plone.app.layout.viewlets.interfaces.IPortalFooter"
      class=".viewlets.MyViewlet"
      layer=".interfaces.IThemeSpecific"
      permission="zope2.View"
      />
  -->

  <!-- Zope 3 browser resources -->

  <!-- Resource directory for images
    See nicetosee/thiswork/browser/images/README.txt
    for more information about registering images as Zope 3 browser
    resources.
  -->
  <browser:resourceDirectory
      name="%(package_name)s.images"
      directory="images"
      layer=".interfaces.IThemeSpecific"
      />

  <!-- Resource directory for stylesheets
    See nicetosee/thiswork/browser/stylesheets/README.txt
    for more information about registering stylesheets as Zope 3 browser
    resources.
  -->
  <browser:resourceDirectory
      name="%(package_name)s.stylesheets"
      directory="stylesheets"
      layer=".interfaces.IThemeSpecific"
      />

</configure>
